**/.git
**/.vs
**/.vscode
**/.idea

**/bin
**/obj
**/TestResults

**/node_modules
**/dist
**/.angular

**/secrets.json

.gitignore

**/*.user
**/*.suo
**/*.swp
**/*.tmp

docker-compose.override.yml

.github
